@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Calistoga&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900");

@import 'tailwindcss';

@theme {
    --font-Cabin: "Cabin", sans-serif;
    --font-Calistoga: "Calistoga", sans-serif;
    --animate-move-up: move-up 1s ease forwards;
    --shadow-image:
        0px -10px 15px -8px rgba(0, 0, 0, 0.12),  
        -25px -5px 15px -8px rgba(0, 0, 0, 0.12), 
        25px -5px 15px -8px rgba(0, 0, 0, 0.12);


    @keyframes move-up {
        0% {
            transform: translateY(5%); 
            opacity: 0;
        }
        100% {
            transform: translateY(0%); 
            opacity: 1;
        }
    }
}